*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans', sans-serif;
    font-weight:400;
    display:flex;
    flex-direction: column;
    max-width: 1440px;
    min-width: 375px;
    color:white;
}

html {
    background: url("../images/bg-desktop.svg") no-repeat center center fixed;
    background-size: cover;
    -moz-background-size: cover; /*Firefox*/
    -webkit-background-size: cover; /*Mozilla*/
    -o-background-size: cover; /*Opera*/
    background-color: hsl(257, 40%, 49%);
}

@media screen and (max-width: 375px) { /* Hacemos la búsqueda y si coincide modificamos las propiedades de la imagen */
    /*img#imagen_de_fondo {
            left: 50%;
            margin-left: -400px;   /* Agregamos un margen negativo que represente el 50% */
    html{background: url("../images/bg-mobile.svg") no-repeat center center fixed;
    background-size: cover;
    -moz-background-size: cover; /*Firefox*/
    -webkit-background-size: cover; /*Mozilla*/
    -o-background-size: cover; /*Opera*/
    background-color: hsl(257, 40%, 49%);
    }
}

header{
    display:flex;
    justify-content: flex-start;
    padding: 50px;
}

.contenedor2{
    display: flex;
    justify-items: center;
    background-color: aqua;
    width:90%;
}

.mockups{
    background-color:pink;
}

.mockups image{
    width:80%;
}

.description{
    display:flex;
    flex-direction: column;
    background-color:grey;
}

h1{
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}

.boton{
    display:flex;
    justify-content: center;
}

.boton a{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    text-decoration: none; 
    color:hsl(257, 40%, 49%);
    font-weight: 700;
    background-color:white;
    border-radius: 40px;
    width: 30%;
    height: 50px;
    margin: 30px 40px 40px 40px;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.164);
}

.boton a:hover { 
    background-color: hsl(257, 59%, 61%); 
    color:white;
}

.redes{
    background-color: black;
    display: flex;
    justify-content: flex-end;
}

.redes a {
    text-decoration: none;
    border-radius: 50%;
    border: solid 1px white;
    color:white;
    overflow:hidden; 
    margin-left:10px;
}

.redes a span{
    display:flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;    
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: black; text-decoration: none;}