*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans', sans-serif;
    font-weight:400;
    font-size: 16px;
    display:flex;
    flex-direction: column;
    max-width: 1440px;
    min-width: 375px;
    color:white;
}

html {
    background: url("../images/bg-desktop.svg") no-repeat center center fixed;
    background-size: cover;
    -moz-background-size: cover; /*Firefox*/
    -webkit-background-size: cover; /*Mozilla*/
    -o-background-size: cover; /*Opera*/
    background-color: hsl(257, 40%, 49%);
}

@media screen and (max-width: 375px) {
    html{
        background: url("../images/bg-mobile.svg") no-repeat center center fixed;
        background-size: cover;
        -moz-background-size: cover; /*Firefox*/
        -webkit-background-size: cover; /*Mozilla*/
        -o-background-size: cover; /*Opera*/
        background-color: hsl(257, 40%, 49%);
    }

    .description{
        display:flex;
        text-align: center;
        background-color:grey;
    }
    
    h1{
        font-family: 'Poppins', sans-serif;
        font-weight: 700;
        
    }
    .boton{
        display:flex;
        justify-content: center;
    }

    .boton a{
        border-radius: 40px;
        width: 55%;
        height: 40px;
    }  
}

header{
    display:flex;
    justify-content: flex-start;
    background-color: yellow;
    margin:30px 0px 50px 25px;
}

.logo img{
    width:50%;
    background-color: red;   
}

.contenedor2{
    display: flex;
    justify-items: center;
    background-color: aqua;
    width:100%;
}

.mockups{
    display:flex;
    justify-content: center;
    background-color:pink;
}

.mockups img{ 
    width:85%;
}

.description{
    display:flex;
    flex-direction: column;
    background-color:grey;
}

h1{
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    margin: 50px 30px 0px 30px;
}

.texto{
    font-weight: 400;
    margin:30px 0px 0px 30px;
    font-size:16px;
}
.boton{
    display:flex;
    justify-content: flex-center;
}

.boton a{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    text-decoration: none; 
    color:hsl(257, 40%, 49%);
    font-size: 14px;
    font-weight: 400;
    background-color:white;
    border-radius: 40px;
    width: 55%;
    height: 40px;
    margin: 40px 0px 40px 40px;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.164);
}

.boton a:hover { 
    background-color: hsl(257, 59%, 61%); 
    color:white;
}

.redes{
    background-color: black;
    display: flex;
    justify-content: center;
    margin:40px, 20px, 20px, 20px;    
    background-color: yellow;
}

.redes a {
    text-decoration: none;
    border-radius: 50%;
    border: solid 1px white;
    color:white;
    overflow:hidden; 
    margin-left:10px;
    background-color: bisque;
}

.redes a span{
    display:flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;   
    background-color: aquamarine; 
}

.attribution { font-size: 11px; text-align: center; margin:20px 0px 40px;}
.attribution a { color: black; text-decoration: none;}